*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Primary */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* Neutral */
  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayIshBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
}


body {
  background-color: var(--VeryLightGray);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}


.wrapper { 
  margin: 30px  25px;
}

.main-top-card {
  max-width: 339px;
  margin: 0 auto;
  text-align: center;
  font-size: .8rem;
}

.main-top-card h1 {
  color: var(--VeryDarkBlue);
  font-size: 1.3rem;
}

.main-top-card span {
  color: var(--GrayIshBlue);
  font-family: 200;
  font-weight: normal;
}

.main-top-card p {
  font-size: .94rem;
  color: var(--GrayIshBlue);
  font-weight: 400;
}



.grid-layout {
  margin: 60px 0;
  display: grid;
  row-gap: 24px;
}



.card {
  max-width: 342px;
  margin: 0 auto;
  box-shadow: 0 0 8px 6px  hsl(0, 0%, 92.2%);
  border-radius: 8px;
  padding: 8px 27px;
  font-size: .81rem;
  position: relative;
  overflow: hidden;
}

.card::before { 
  content: "";
  position: absolute;
  width: 100%;
  height: .3rem;
  top: 0;
  left: 0;
}


.card-one::before { 
  background-color: var(--Cyan);
}

.card-two::before { 
  background-color: var(--Red);
}

.card-three::before { 
  background-color: var(--Orange);
}

.card-four::before { 
  background-color: var(--Blue);
}


.card h2 {
  margin-bottom: 0;
  color: var(--VeryDarkBlue);
}

.card p {
  color: var(--GrayIshBlue);
  font-weight: 400;
}

.card__figure{
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.card__image {
  padding: 20px 0;
  max-width: 20%;
}



@media screen and (min-width: 580px) {
  .grid-layout {
    grid-template-columns: repeat(2, minmax(220px, 1fr));
    column-gap: 24px;
  }

  .main-top-card h1 {
    font-size: 1.4rem;
  }

  .main-top-card p {
    font-size: 1rem;
  }


  .main-top-card {
    max-width: 540px;
  }

  .main-top-card span {
    display: block;
  }


}


@media screen and (min-width: 1024px) {
  .grid-layout {
    grid-template-columns: 1fr 342px 1fr;
    grid-template-rows:  1px repeat(4, 1fr);
  }

  .main-top-card h1 {
    font-size: 1.6rem;
  }

  .card {
    margin: 0;
  }

  .card-one { 
    grid-row: 3 / 5;
    justify-self: end;
  }

  .card-two { 
    grid-row: 2 /4;
  }

  .card-three { 
    grid-column: 2 / 3;
    grid-row: 4 / 6;
  }
 
  .card-four { 
    grid-row: 3 / 5;
  }



}